<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Stock Selection Form</title>
</head>
<body>
    <div class="select-wrapper">
    <label for="stocks">Choose a stock:</label>
    <select name="stocks" id="stocks" form="stocksform">
        <option value="AAPL">AAPL</option>
        <option value="AMZN">AMZN</option>
        </select>

    <form action = "/result" method = "POST" id="stocksform">
        <input type="submit">
     </form>


</div>
</body>
</html>